{% if forloop.first %}
  <hr class="{{ variant.properties.property1.name }}"><h5 class="{{ variant.properties.property1.name }}">{{ variant.properties.property1.name }}</h5>
{% endif %}
{% comment %} Captura variaçções atribuidas ao produto {% endcomment %}
{% capture first_attribute %}{{ first_attribute }}#{{ variant.sku }}/{{ variant.properties.property1.value }}|{% endcapture %}
{% capture second_attribute %}{{ second_attribute }}<label data-order="{{ variant.properties.property2.value }}" class="second_attribute second_attribute {{ variant.properties.property1.value | split: '#' }}" {% if variant.available_quantity > 0 and variant.available_quantity < 3 %}data-toggle="tooltip" data-placement="top" title="Existem apenas mais {{ variant.available_quantity }} em estoque!" {% elsif variant.available_quantity == 0 %} data-toggle="tooltip" data-placement="top" title="Indisponível" {% endif %} style="display: none;"  class="second_attribute"><input type="radio" name="sku" value="{{ variant.sku }}" required="required" {% if forloop.first %}checked="checked"{% endif %} {% unless variant.available %}disabled{% endunless %}>{{ variant.properties.property2.value }}</label>{% endcapture %}
{% comment %} No último giro do for da variante, ele monta o box de variáveis, usando o [data-first-attribute] como referencia para exifir as variações da segunda variação {% endcomment%}
{% if forloop.last %}
  <div id="{{ variant.properties.property1.name }}">
  {% assign split_attribute = first_attribute | split: '|' %}
  {% comment %} Percorre itens da primeira variante, para remover itens repetidos {% endcomment %}
  {% for item in split_attribute %}
    {% assign test_unique = item | split: '/' | last %}
    {% comment %} Retira variações repetidas {% endcomment %}
    {% unless list_itens contains test_unique %}
    <label for="first-variant{{ forloop.index }}" data-first-attribute="{{ test_unique | split: '#' }}" class="first_attribute {{ forloop.index }}" {% if test_unique contains  "#" %}style="background-color:{{ test_unique }}"{% endif %}>
      <input id="first-variant{{ forloop.index }}" type="radio" name="first-variant" {% if forloop.first %}checked="checked"{% endif %} value="{{ test_unique | split: '#' }}" {% unless variant.available %}disabled{% endunless %}/>{{ test_unique }}
    </label>
    {% comment %} Aqui capturamos as variações já listadas, para poder removar caso ela se repita {% endcomment %}
    {% capture list_itens %}{{ list_itens }}{{ test_unique }}{% endcapture %}
    {% endunless %}
  {% endfor %}
  </div>
  <hr><h5>{{ variant.properties.property2.name }}</h5>
  <div id="{{ variant.properties.property2.name }}">
    {{ second_attribute }}
  </div>
{% endif %} 
